.container {
  padding: 0;

  .row {
    display: flex;

    .column {
      padding: 0 3rem;
      width: 50%;

      .notify {
        margin-top: 1.5rem;
      }
    }

    .center {
      text-align: center;
    }
  }
}